.community1{
    width:50%;
    margin: auto;
    text-align: center;
}

.community1 textarea{
    width: 80%;
    height: 150px;
}

.community1 button {
    background-color: rgb(46, 141, 78);
    width: 70%;
    padding: 7px;
    border: none;
    font-family: poppins;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 3%;
}

.community1 button:hover {
    background-color: rgb(234, 80, 73);
}

.community2{
    font-family: Poppins;
    width: 50%;
    display: flex;
    column-gap: 3%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}
